.posts {
  width: 100%;
}

.post {
  width: 100%;
  text-align: left;
  margin: 12px auto;
  padding: 12px 0;

  @media (--tablet) {
    max-width: 660px;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--color-border);
  }

  &-meta {
    font-size: 1rem;
    margin-bottom: 12px;
    color: color-mod(var(--color-accent) a(70%));
  }

  &-title {
    --border: 3px dotted var(--color-accent);
    position: relative;
    color: var(--color-accent-light);
    margin: 0 0 12px;
    padding-bottom: 6px;
    border-bottom: var(--border);

    &:after {
      content: '';
      position: absolute;
      bottom: 2px;
      display: block;
      width: 100%;
      --border: 3px dotted var(--color-accent-secondary);
      border-bottom: var(--border);
    }

    a {
      text-decoration: none;
    }
  }

  &-tags {
    display: block;
    margin-bottom: 12px;
    font-size: 1rem;
    opacity: .5;

    a {
      text-decoration: none;
    }
  }

  &-content {
    margin-top: 30px;
  }

  &-cover {
    border: 12px solid var(--color-accent);
    background: transparent;
    margin: 20px 0;
    padding: 12px;

    @media (--phone) {
      padding: 6px;
      border-width: 6px;
    }
  }

  ul {
    list-style: none;

    li:before {
      content: '►';
      position: absolute;
      left: -12px;
      color: var(--color-accent);
    }
  }
}

.post--regulation {
  h1 {
    justify-content: center;
  }

  h2 {
    justify-content: center;
    margin-bottom: 6px;

    & + h2 {
      margin-top: -6px;
      margin-bottom: 12px;
    }
  }
}
