@import '../main.css';
@import '../header.css';
@import '../logo.css';
@import '../pagination.css';
@import '../post.css';
@import '../syntax.css';
@import '../variables.css';

:root {
  --color-background: #16121C;
  --color-accent-dark: #4B4E6D;
  --color-accent-light: #C9F0FF;
  --color-accent-secondary: #3C6E71;
  --color-main: #f7fcfc;

  --color-accent: var(--color-accent-dark);
  --color-footer: var(--color-accent-secondary);
  --color-logo-text: var(--color-background);
  --color-menu: var(--color-accent-light);
  --color-border: var(--color-accent-secondary);
}
